/* goods.html (굿즈) 전용 CSS */
main {height: 100vh; background-color: darksalmon;}
main h1 {}
main .goods_store {
    background-color: #FDF7E4;
    width: 25%; height: 10%;
    margin: 20px auto 0;
    border:1px solid #BBAB8C;
}
main .goods_store thead {
    border-bottom: 3px solid #BBAB8C;
    background-color: #DED0B6;
    
}
main .goods_store thead tr {}
main .goods_store thead tr th {
    padding: 25px;
}
main .goods_store thead tr th:nth-child(1) {
    width: 40px auto 0;
}
main .goods_store thead tr th:nth-child(2) {
    width: 200px auto 0;
}
main .goods_store tbody {}
main .goods_store tbody tr {}
main .goods_store tbody tr th {}
main .goods_store tbody tr td {
    padding: 10px;
}
main h2 {}
main ul {}
main ul li {}
main ul li h3 {}
main ul li p {}